{% extends 'base.html' %}

{% block title %}
My Cart
{% endblock %}

{% block body %}
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="index.html">Home</a>
						<i>|</i>
					</li>
					<li>Checkout</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- checkout page -->
	<div class="privacy py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>M</span>y
				<span>C</span>art
			</h3>
			<!-- //tittle heading -->
			
			{% if cart_products %}

			<div class="checkout-right">
				<h4 class="mb-sm-4 mb-3">Your shopping cart contains:
					<span>{{ cart_products.count }} Products</span>
				</h4>
				<div class="table-responsive">
					<table class="timetable_sub">
						<thead>
							<tr>
								<th>SL No.</th>
								<th>Product</th>
								<th>Quality</th>
								<th>Product Name</th>

								<th>Price</th>
								<th>Remove</th>
							</tr>
						</thead>
						<tbody>
							<form action="cart" method="POST">
								{% csrf_token %}
								{% for p in cart_products %}
							<tr class="rem{{ forloop.counter }}">
								<td class="invert">{{ forloop.counter }}</td>
								<td class="invert-image">
									<a href="single.html">
										<img src="/media/{{ p.product.image_1 }}" style="max-width: 20%;" alt=" " class="img-responsive">
									</a>
								</td>
								<td class="invert">
									<div class="quantity">
										<div class="quantity-select">
											<div class="entry ">&nbsp;</div>
											<div class="entry value">
												<span>{{ p.quantity }}</span>
											</div>
											<div class="entry active">&nbsp;</div>
										</div>
									</div>
								</td>
								<td class="invert">{{ p.product.name }}</td>
								<td class="invert">{{ p.product.price }} Rs</td>
								<td class="invert">
									<input hidden value="{{ p.id }}" name="productid">
									<div class="rem">
										<button class="btn btn-warning" value="" name="" type="submit">Remove</button>
									</div>
								</td>
							</tr>
							</form>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			{% else %}

			<h4 class="mb-sm-4 mb-3">Your shopping cart is empty
			</h4>

			{% endif %}

		<!-- {% if cart_products %} -->
			<div class="checkout-left container">
				<div class="address_form_agile mt-sm-5 mt-4">
					<h4 class="mb-sm-4 mb-3">Select or Change Details</h4>
					{% if details %}
					<form action="/save_user_detail" method="post" class="creditly-card-form agileinfo_form">
						{% csrf_token %}
						<div class="creditly-wrapper wthree, w3_agileits_wrapper">
							<div class="information-wrapper">
								<div class="first-row">
									<div class="controls form-group">
										<input class="billing-address-name form-control" type="text" value="{{ details.full_name }}" name="full_name" placeholder="Full Name" required="">
									</div>
									<div class="w3_agileits_card_number_grids">
										<input hidden value="{{ details.id }}" name="detailid" >
										<div class="w3_agileits_card_number_grid_left form-group">
											<div class="controls">
												<input type="text" class="form-control" value="{{ details.phone }}" placeholder="Mobile Number" name="phone" required="">
											</div>
										</div>
										<div class="w3_agileits_card_number_grid_left form-group">
											<div class="controls">
												<input type="text" class="form-control" value="{{ details.alt_phone }}" placeholder="Alternate Mobile Number" name="alt_phone" required="">
											</div>
										</div>
										<div class="w3_agileits_card_number_grid_right form-group">
											<div class="controls">
												<input type="text" class="form-control" value="{{ details.landmark }}" placeholder="Landmark" name="landmark" required="">
											</div>
										</div>
									</div>
									<div class="controls form-group">
										<input type="text" class="form-control" value="{{ details.town }}" placeholder="Town/City" name="town" required="">
									</div>
									<div class="controls form-group">
										<input type="number" class="form-control" value="{{ details.pincode }}" placeholder="Pincode" name="pincode" required="">
									</div>
									<!-- <div class="controls form-group">
										<select class="option-w3ls">
											<option>Select Address type</option>
											<option>Office</option>
											<option>Home</option>
											<option>Commercial</option>

										</select>
									</div> -->
								</div>
								<button type="submit" class="submit check_out btn">Save Details</button>
							</div>
						</div>
					</form>
					{% else %}
					<form action="/save_user_detail" method="post" class="creditly-card-form agileinfo_form">
						{% csrf_token %}
						<div class="creditly-wrapper wthree, w3_agileits_wrapper">
							<div class="information-wrapper">
								<div class="first-row">
									<div class="controls form-group">
										<input class="billing-address-name form-control" type="text" value="" name="full_name" placeholder="Full Name" required>
									</div>
									<div class="w3_agileits_card_number_grids">
										<input hidden value="" name="detailid" >
										<div class="w3_agileits_card_number_grid_left form-group">
											<div class="controls">
												<input type="text" class="form-control" value="" placeholder="Mobile Number" name="phone" required>
											</div>
										</div>
										<div class="w3_agileits_card_number_grid_left form-group">
											<div class="controls">
												<input type="text" class="form-control" value="" placeholder="Alternate Mobile Number" name="alt_phone" required="">
											</div>
										</div>
										<div class="w3_agileits_card_number_grid_right form-group">
											<div class="controls">
												<input type="text" class="form-control" value="" placeholder="Landmark" name="landmark" required>
											</div>
										</div>
									</div>
									<div class="controls form-group">
										<input type="text" class="form-control" value="" placeholder="Town/City" name="town" required>
									</div>
									<div class="controls form-group">
										<input type="number" class="form-control" value="" placeholder="Pincode" name="pincode" required>
									</div>
									<!-- <div class="controls form-group">
										<select class="option-w3ls">
											<option>Select Address type</option>
											<option>Office</option>
											<option>Home</option>
											<option>Commercial</option>

										</select>
									</div> -->
								</div>
								<button type="submit" class="submit check_out btn">Save Details</button>
							</div>
						</div>
					</form>
					{% endif %}
					<div class="checkout-right-basket">
						<a href="payment.html">Make a Payment
							<span class="far fa-hand-point-right"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //checkout page -->
			<!-- {% endif %} -->

	{% endblock %}